<connectionStrings>
	<!-- This is needed for security -->
	<add name="DefaultConnection" 
		 connectionString="Data Source=.;Initial Catalog=eTools2021;Integrated Security=True" 
		 providerName="System.Data.SqlClient" />
	<!-- EBD OF This is needed for security -->
	
	<!-- This is needed for ToolsRUsDB -->
	<add name="ToolsRUsDB"
		 connectionString="Data Source=.;Initial Catalog=eTools2021;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	<!-- END OF This is needed for ToolsRUsDB -->
</connectionStrings>
